html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.small-logo{
    width: 50px;
}

.ccli{

    font-size: x-small;
    vertical-align: middle;
    text-align: right;
    
}

span.tooltip{
    border-bottom: 1px dashed gray;
    cursor: pointer; 
    position:relative;
}

span.tooltip::before{
    display: none;
    content: attr(data-info);
    color: white;
    font-size: 0.8em;
    padding: 2px 8px;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    position: absolute; /* Lo posicionamos de modo absoluto dentro del span */
    top: 1.5em;
    left: 5px;
    min-width: 500px;
    z-index: 999;

}

span.tooltip:hover::before {
    display: block;
}