html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.small-logo{
    width: 50px;
}

.ccli{

    font-size: x-small;
    vertical-align: middle;
    text-align: right;
    
}
